body {
    background-size: auto 100vh;
    font-family: cursive;
    background-image: linear-gradient( to bottom right, rgb(45, 45, 221),rgb(164, 164, 202));
}
.menu {
    background-color: white;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    list-style: none;
  }
  
.menu a {
    color: teal;
    padding: 10px;
    text-decoration: none;
}
  
.site-title {
    color: whitesmoke;
    text-align: center;
}
  
.site-subtitle {
    color: whitesmoke;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
}